.exhibit {
  border: 2px solid #ccc;
  padding: 20px;

  h2 {
    margin: 0 0 20px;
  }
}

.stage {
}

.code {
  padding: 20px;
  margin: 20px -20px -20px;
  border-top: 1px solid #ccc;
  background: #eee;
}
